<canvas id="{{ context.chartId }}" width="80" height="40"></canvas>
        <script>
            var ctx = document.getElementById({{ context.chartId }});

            var chartName = '{{ context.chartName }}';

            var xAxisData = {{ context.xAxisData }};

            var yAxisDataArray = {{ context.yAxisDataArray | safe }};

            var lineChartData = {
                labels: xAxisData,
                datasets: [
                    {
                        label: yAxisDataArray[0].label,
                        borderColor: yAxisDataArray[0].lineColor,
                        backgroundColor: yAxisDataArray[0].pointColor,
                        fill: yAxisDataArray[0].fill,
                        data: yAxisDataArray[0].data,
                        yAxisID: yAxisDataArray[0].axisId
                    },
                    {
                        label: yAxisDataArray[1].label,
                        borderColor: yAxisDataArray[1].lineColor,
                        backgroundColor: yAxisDataArray[1].pointColor,
                        fill: yAxisDataArray[1].fill,
                        data: yAxisDataArray[1].data,
                        yAxisID: yAxisDataArray[1].axisId
                    }
                ]
            };

            Chart.Line(ctx, {
                data: lineChartData,
                options: {
                    responsive: true,
                    hoverMode: 'index',
                    stacked: false,
                    title: {
                        display: true,
                        text: chartName
                    },
                    scales: {
                        yAxes: [
                            {
                                type: 'linear',
                                display: true,
                                position: 'left',
                                id: yAxisDataArray[0].axisId
                            },
                            {
                                type: 'linear',
                                display: true,
                                position: 'right',
                                id: yAxisDataArray[1].axisId
                            }
                        ]
                    }
                }
            });

        </script>